В данном проексте я использовал библиотеку:
1) Tkinter, которая позволяет создавать интерфейс для программы
2) Selenium, которая позволяет работать с браузером и эмулировать действия пользователя, с помощью знаний html
3) Unitest, которая позволяет тестировать программу
