В данном проексте я использовал библиотеку:
1) Tkinter, которая позволяет создавать интерфейс для программы  -  pip install tk
2) Selenium, которая позволяет работать с браузером и эмулировать действия пользователя, с помощью знаний html  -  pip install selenium
3) Unitest, которая позволяет тестировать программу  -  pip install unittest
